@media screen and (max-width: 1024px) {
	.header .menu li a {
		padding-right: 15px !important;
	    padding-left: 15px !important;
	}
	.banner-cont_slider .slick-prev {
		left: -30%;
	}
	.banner-cont_slider .slick-next {
		right: -30%;
	}

	.services-head_title {
		background-size: 32% 1px, 32% 1px;
	}
	.services-head_title:before {
		left: 24%;
	}
	.services-head_title:after {
		right: 24%;
	}

	.services-body_slider .slick-prev {
		left: 92.5%;
	}
	.services-body_slider .slick-next {
		left: 96.5%;
	}
}

@media screen and (max-width: 768px) {
	.banner-cont_slider {
		width: 440px;
	}
	.banner-cont_slider .slick-prev {
	    left: -7%;
	}
	.banner-cont_slider .slick-next {
	    right: -7%;
	}
	.slider-item_cont .slider-item_cont-title h1 {
		font-size: 30px;
	}
	.about-cont_title {
		font-size: 20px;
	}
	.services-head_title {
		font-size: 25px;
	    background-size: 25% 1px, 25% 1px !important;
	}
	.services-head_title::before {
	    left: 10%;
	}
	.services-head_title::after {
	    right: 10%;
	}
	.services-body_slider .slick-prev {
	    left: 85%;
	    top: 96%;
	}
	.services-body_slider .slick-next {
	    left: 93.5%;
	    top: 96%;
	}
	.services-body_slider .body-slider_item {
		padding: 60px 20px;
	}

	.query-cont .query-cont_right input {
		width: 100% !important;
		left: 0 !important;
		margin-top: 10px;
	}
	.footer-body_subs .footer-body_subs-icon {
		margin-top: 20px;
	}
}


@media screen and (max-width: 576px) {
	.slider-item_cont .slider-item_cont-btn {
		left: 46.5%;
		top: 95%;
	}

}


@media screen and (max-width: 425px) {
	.banner-cont_slider {
		width: 300px;
	}
	.slider-item_cont .slider-item_cont-title h1 {
		font-size: 20px;
	}
	.slider-item_cont {
		background-size: 25% 1px, 25% 1px;
	}
	.slider-item_cont .slider-item_cont-btn {
		margin-top: -50px;
		padding: 0;
		left: 50%;
		top: 100%;
	}
	.slider-item_cont .slider-item_cont-btn {
		margin-left: -19.5%;
	}

	.services-head_title::before {
	    left: 8%;
	    width: 30px;
	}
	.services-head_title::after {
	    right: 8%;
	    width: 30px;
	}
	.services-head_title {
		background-size: 16% 1px, 16% 1px !important;
	}
	.footer-body {
		padding: 20px;
	}
}

@media screen and (max-width: 410px) {
	.footer-body_subs .footer-body_subs-form input:first-child {
		width: 170px;
		padding: 0 10px;
	}
	.footer-body_subs-form {
		width: 275px;
	}
	.footer-body_subs .footer-body_subs-icon {
		width: 275px;
	}
}